@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    color: #6c757d;
    font-size: 18px;
}

header {
    background-color: rgba(255, 255, 255, .7);
}

header .container {
    width: 80%;
    margin: 0 auto;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: #499bb0;
}

header .logo {
    font-size: 24px;
    font-weight: 800;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

header nav ul li {
    align-self: center;
}

header nav ul li a {
    text-decoration: none;
    color: #6c757d;
    font-weight: 600;
}

header .nav-button {
    background-color: #499bb0;
    height: 50px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

header .nav-button a {
    color: white;
}

.hero {
    display: flex;
}

.hero h1 {
    font-size: 48px;
    color: #499bb0;
}

.hero-info {
    width: 50vw;
    padding: 0 50px;
    margin-top: 80px;
    font-size: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.hero-img-container {
    width: 50vw;
}

.hero .hero-img {
    width: inherit;
}

.hero-info-buttons-container {
    display: flex;
    gap: 20px;
    font-weight: 600;
}

.hero-info-buttons {
    margin-top: 50px;
}

.hero-info-buttons p {
    margin: 0;
    color: #499bb0;
}

.hero-info-buttons p i {
    color: #ffb803;
    margin-right: 8px;
}

p i {
    margin-right: 8px;
}

.icons-blue {
    color: #499bb0;
}

.font-blue-bold {
    color: #499bb0;
    font-weight: 600;
}

.schedule {
    margin-top: 150px;
}

.schedule-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    background-color: rgba(255, 255, 255, .8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 9px 1px rgba(147, 147, 147, .47);
    position: absolute;
    font-size: 20px;
}

.schedule-container button {
    width: 150px;
    height: 50px;
    background-color: #499bb0;
    color: #ffff;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

.brands-vaccines {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.mw-img {
    max-width: 200px;
}

.should-vaccine {
    margin: 0 auto;
    padding: 0 50px;
}

.should-vaccine-title {
    font-size: 36px;
    color: #499bb0;
    font-weight: 800;
}

.should-vaccine-description {
    max-width: 500px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    gap: 10px;
    margin: 60px 0;
}

.card {
    /* border: 2px solid rgba(147, 147, 147, .3); */
    box-shadow: 1px 1px 10px 1px rgba(147, 147, 147, .3);
    border-radius: 8px;
    max-width: 250px;
    padding: 10px 20px;
}

.icon-container {
    background-color: #499bb038;
    border-radius: 4px;
    display: inline-block;
}

.icon-container i {
    text-align: center;
    padding: 10px;
    margin: 0;
}

.card-title {
    color: #499bb0;
    font-size: 24px;
    font-weight: 600;
}

.card-description {
    font-size: 16px;
}

.preparations {
    display: flex;
    align-items: center;
}

.preparations-description-title {
    font-size: 36px;
    color: #499bb0;
    font-weight: 800;
}

.preparations-img img {
    max-width: 50vw;
}

.preparations-description {
    max-width: 50vw;
    padding: 0 50px;
}

.acordeon-container {
    margin-top: 20px;
}

.acordeon {
    color: #499bb0;
    background-color: #ffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    transition: 0.4s;
    border: 1px solid rgba(147, 147, 147, .2);
    /*box-shadow: 1px 1px 10px 1px rgba(147, 147, 147, .3);*/
    border-radius: 8px;
}


/* 
.active,
.acordeon:hover {
    background-color: #ccc;
} */

.acordeonContent {
    font-size: 16px;
    padding: 0 20px;
    display: none;
    background-color: white;
    overflow: hidden;
    box-shadow: 1px 1px 10px 1px rgba(147, 147, 147, .3);
    border-radius: 8px;
}

.acordeon:after {
    font: var(--fa-font-solid);
    content: "\f107";
    background-color: #499bb038;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #499bb0;
    font-weight: 800;
    float: right;
    margin-left: 5px;
}

.active:after {
    font: var(--fa-font-solid);
    content: "\f106";
}

.emergency-contact {
    display: flex;
    margin-top: 100px;
    align-items: center;
}

.emergency-contact-description {
    width: 50vw;
    padding: 0 50px;
}

.emergency-contact-img img {
    width: 50vw;
}

.emergency-contact-description-title {
    font-size: 36px;
    color: #499bb0;
    font-weight: 800;
}

.cards-contact-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card-contact {
    border: 1px solid rgba(147, 147, 147, .47);
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-contact-info p {
    font-size: 14px;
}

.card-contact-info p:first-of-type {
    font-weight: 600;
}

.button-contact {
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #499bb038;
    padding: 5px 0;
    color: #499bb0;
    font-weight: 600;
    cursor: pointer;
    height: 50px;
}

.button-contact-blue {
    background-color: #499bb0;
    color: #ffff;
}

footer {
    background-color: #499bb038;
    padding: 20px;
}

.footer-container {
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-info {
    max-width: 250px;
}

.footer-links-container {
    display: flex;
    gap: 80px;
}

.footer-additional-info {
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    margin: 0 auto;
    margin-top: 30px;
}

.footer-additional-info div {
    display: flex;
    gap: 30px;
}

.footer-link-title {
    color: #499bb0;
    font-weight: 800;
}